:not(.checkout-step-last) {
    #order_review_heading,
    #order_review {
        //display: none !important;
    }
}

.checkout-step {
    &-last {
        
    }
}

.woocommerce form .field-description {
    display: block;
    margin: .5em 0;
    font-size: 85%;
}

#product-addons-total[data-type="class"] {
    display: none !important;
}

.student-registration-list,
.person-info-table {
    width: 100%;

    td,
    th {
        padding: 5px;
    }

    tbody {
        tr:nth-child(odd) td {
            background: rgba( 0, 0, 0, .025 );
        }
    }
}