.woocommerce form .field-description {
  display: block;
  margin: .5em 0;
  font-size: 85%; }

#product-addons-total[data-type="class"] {
  display: none !important; }

.student-registration-list,
.person-info-table {
  width: 100%; }
  .student-registration-list td,
  .student-registration-list th,
  .person-info-table td,
  .person-info-table th {
    padding: 5px; }
  .student-registration-list tbody tr:nth-child(odd) td,
  .person-info-table tbody tr:nth-child(odd) td {
    background: rgba(0, 0, 0, 0.025); }
